.exercises {
    text-align: center;
}
    .exercises-title {
        margin-bottom: 5px;
        text-align: left;
        
    }

.exercise-link {
    display: inline-block;
    margin-right: 10px;
    cursor: pointer;
}


.exercise-title, .exercise-description {
    display: inline-block;
}
.exercise-description {
    color: #666;
    margin-left: 10px;
}

.exercises-info {
    text-align: center;
    border-top: 1px solid #ddd;
    margin-top: 20px;
    padding-top: 10px;
}
