.exercises {
    text-align: center;
}
    .exercises-title {
        margin-bottom: 5px;
        text-align: left;
    }

.exercise-link {
    display: inline-block;
    margin-right: 10px;
}


.exercise-title, .exercise-description {
    display: inline-block;
}
.exercise-description {
    color: #666;
    margin-left: 10px;
}
