.section {
    padding: 25px 10px 10px 10px;
    box-sizing: border-box;
    border-radius: 5px;
    margin-bottom: 10px;
    box-shadow: inset 0 0 5px rgba(0,0,0, 0.8);
    position: relative;
    margin-top: 20px;
}
    .section-title {
        position: absolute;
        top: -20px;
        left: 20px;
        display: inline-block;
        background: white;
    }

.block-common {
    border: 1px solid gray;
    padding: 5px;
    margin: 5px;
    box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
    border-radius: 5px;
}

input[type=text]{
    width: 20px;
}

input[type=text].long-field {
    width: 100px;
}
