.grid-row {
    display: block;
    margin-bottom: 0;
    height: 33px;
}

.grid-cell {
    list-style: none;
    display: inline-block;
    border: 1px solid #808080;
    width: 33px;
    height: 33px;
    
}
    .grid-cell.on {
        background: red;
    }
