.grid-row {
    display: block;
    margin-bottom: 0;
    height: 20px;
}

.grid-cell {
    list-style: none;
    display: inline-block;
    border: 1px solid gray;
    width: 20px;
    height: 20px;
}
    .grid-cell.on {
        background: red;
    }
