.main-container {
    box-shadow: 0 0 8px rgba(0,0,0,0.8);
    border-radius: 5px;
    width: 1200px;
    margin: 20px auto;
    overflow: hidden;
    padding: 20px;
    box-sizing: border-box;
    position: relative;
}

.logo {
    display: inline-block;
    width: 20%;
}

.tools-panel {
    box-sizing: border-box;
    float: left;
    width: 300px;
    margin-right: 20px;
}

.source {
    box-sizing: border-box;
    float: left;
    width: 600px;
    margin-right: 20px;
}

.grid {
    box-sizing: border-box;
    float: left;
    width: 540px;
    padding-bottom: 30px;
}

.exercises {
    display: inline-block;
    width: 70%;
}

.script {
    display: none;
}

.clippy-place {
    height: 200px;
    position: absolute;
    top: 0;
    right: 0;
}
