.main-container {
    box-shadow: 0 0 8px rgba(0,0,0,0.8);
    border-radius: 5px;
    width: 1200px;
    margin: 20px auto;
    overflow: hidden;
    padding: 20px;
    box-sizing: border-box;
    position: relative;
    background: white;
}

.logo {

}

.tools-panel {
    box-sizing: border-box;
    float: left;
    width: 300px;
    margin-right: 20px;
}

.source {
    box-sizing: border-box;
    float: left;
    width: 600px;
    margin-right: 20px;
}

.grid {
    box-sizing: border-box;
    float: left;
    width: 540px;
    padding-bottom: 30px;
}

.section, .exercises, .logo, .exercises-info {
    opacity: 1.0;
    -webkit-transition: opacity 0.5s ease-in-out;
}

.playing .section, .playing .exercises, .playing .logo, .playing .exercises-info {
    opacity: 0.1;
}

.playing .source, .playing .grid {
    opacity: 1;
}

.script {
    display: none;
}

.clippy-place {
    height: 200px;
    position: absolute;
    top: 0;
    right: 0;
}

body {
    background-image: url('/img/background.png');
}
