.source {
    min-height: 504px;
    position: relative;
    padding-bottom: 40px;
}

.source-slot {
    min-height: 20px;
    border: 2px dashed #ddd;
    margin-bottom: 5px;
    border-radius: 5px;
}
.source-slot:last-of-type {
    min-height: 60px;
}
    .source-slot.drop-hover {
        border: 2px dashed #333;
    }
.play-button { 
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 5px;

}
